VITE_SUPABASE_URL=https://dwhbntsllcneglbljrrk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3aGJudHNsbGNuZWdsYmxqcnJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4OTQ2MDgsImV4cCI6MjA5NjQ3MDYwOH0.VurgIa_VKvF9RAwUUxV2VCAGAy9r1kJnS7hC0pIOz_4
